

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand {
  margin-left: 20px;
}
.container-fluid img {
  width: 40px;
  height: 30px;
  object-fit: cover;
}

.navbar-nav.me-auto.my-2.my-lg-0.navbar-nav-scroll {
  margin-left: 80px;
}
.btn.btn-outline-success {
  border-color: black;
  color: black;
  border-radius: 1px;
  width: 80px;
  height: 40px;
}
.btn.btn-outline-success:hover {
  background-color: rgb(244, 108, 252) !important;
}

.carousel-item {
  height: 65vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.carousel-caption {
  bottom: 20%;
}
.carousel-caption h5 {
  font-size: 3.5rem;
  font-weight: bold;
}
.carousel-caption p {
  font-size: 1.2rem;
}
.carousel-caption button {
  color: white;
  border-radius: 1px;
  margin-left: 20px;
}

.carousel-item.active div {
  filter: brightness(100%) !important;
  border-radius: 5px;
}
.image-filtre {
  filter: brightness(70%);
}
.btn.btn-primary.btn-lg {
  border-radius: 1px;
}
.btn.btn-secondary.btn-lg {
  border-radius: 1px;
  margin: 20px;
}
